/* begin overall style */
body
{
	margin: 0;
	padding: 0;
	background: white;
	color: #333;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 8pt;
}

a
{
	color: #0088cc;
	text-decoration: none;
}

a:hover
{
	color: #005580;
}

h1, h2, h3
{
	margin: 0px 0px 10px 0px;
	font-family: verdana, tahoma, arial, sans-serif;
	font-weight: bold;
	color: #52565B;
}

h1, h2
{
	font-size: 13pt;
}

h3
{
	font-size: 10pt;
}

input, textarea, select, button, optgroup
{
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 8pt;
	font-style: normal;
}

img
{
	border: none;
}

.page
{
	width: 960px;
	margin: 0 auto;
	padding: 0;
}

#header
{
	margin: 0;
	padding: 0;
	height: 64px;
	background: url(bg_ra.gif) no-repeat center top;
}

#menubar
{
	float: right;
	padding: 10px 0 10px;
	text-align: right;
}

#logo
{
	margin: 0;
	padding: 15px 0;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 16pt;
    font-weight: bold;
    color: #52565B;
}

#langmenu
{
	margin: 0 0 10px 0;
}

#langmenu .sep
{
	color: #999;
}

#mainmenu
{
	padding: 5px 0 0 0;
	background-color: #3285CE;
	font-family: verdana, tahoma, arial, sans-serif;
	font-size: 8pt;
}

#mainmenu ul
{
	margin: 0;
	padding: 0.4em 0 0.3em;
}

#mainmenu ul li
{
	display: inline;
}

#mainmenu ul li a
{
	padding: 0.4em 0.4em;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border: 1px dotted #FFF;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a
{
	background: white;
	color: #52565b;
}

#content
{
	margin: 15px 0;
}

#footer
{
	padding: 15px;
	margin: 20px 0 0 0;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #EEE;
}

.large-text
{
	font-size: 10pt;
	line-height: 150%;
	margin: 10px 0 20px 0;
}

.clearfloat
{
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}

.confirmation
{
	margin: 10px 0 10px 0;
	padding: 10px;
	border: 1px solid #E4EBD8;
	background: #F5FCE8;
	color: green;
	font-weight: bold;
}

.floatright {
	float: right;
}

.breadcrumbs
{
	margin: 0px 0 10px 0;
}

.actionMenu
{
	margin: 0 0 10px 0;
}

.actionMenu span
{
	color: #999;
}

div.item
{
	margin: 10px 0 10px 0;
	padding: 5px 0 5px 0;
	border-bottom: 1px solid #E8E8E8;
}

.tpanel {
	margin: 15px 0 10px 0;
}

.tpanel .toggle {
	margin: 0px 0 10px 0;
	color: #0066a7;
	cursor: pointer;
	font-weigt: bold;
}

div.group {
	margin: 20px 0 10px 0;
	font-size: 10pt;
	font-weight: bold;
}

div.sub-group {
	padding: 5px;
	background: #D0DEF0;
	font-weight: bold;
}
/* end of overall style */

/* begin grid style */
table.dataGrid
{
	background: white;
	border-collapse: collapse;
	width: 100%;
}

table.dataGrid th, table.dataGrid td
{
	border: 1px #e8e8e8 solid;
	padding: 5px;
	vertical-align: top;
}

table.dataGrid th
{
	border-top: 2px #dddddd solid;
	border-bottom: 2px #dddddd solid;
	text-align: left;
}

table.dataGrid th.label
{
	width: 150px;
}

table.dataGrid tr.odd
{
	background: #f9f9f9;
}

table.dataGrid td.nowrap
{
	white-space: nowrap;
}
/* end of grid style */

/* begin button style */
.btn {
	cursor: pointer;
	display: inline-block;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6) );
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr ='#ffffff', endColorstr = '#e6e6e6', GradientType = 0 );
	padding: 5px 14px 6px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333333;
	font-size: 8pt;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-ms-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
	overflow: visible;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.btn-primary {
	color: #ffffff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd) );
	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd) );
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr ='#049cdb', endColorstr = '#0064cd', GradientType = 0 );
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #0064cd #0064cd #003f81;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-green {
	color: #ffffff;
	background-color: #57a957;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462),to(#57a957) );
	background-image: -moz-linear-gradient(top, #62c462, #57a957);
	background-image: -ms-linear-gradient(top, #62c462, #57a957);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462),color-stop(100%, #57a957) );
	background-image: -webkit-linear-gradient(top, #62c462, #57a957);
	background-image: -o-linear-gradient(top, #62c462, #57a957);
	background-image: linear-gradient(top, #62c462, #57a957);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr ='#62c462', endColorstr = '#57a957', GradientType = 0 );
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #57a957 #57a957 #3d773d;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-red {
	color: #ffffff;
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b),to(#c43c35) );
	background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b),color-stop(100%, #c43c35) );
	background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
	background-image: linear-gradient(top, #ee5f5b, #c43c35);
	filter: progid : DXImageTransform.Microsoft.gradient ( startColorstr ='#ee5f5b', endColorstr = '#c43c35', GradientType = 0 );
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border-color: #c43c35 #c43c35 #882a25;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn:hover,
.btn-primary:hover,
.btn-green:hover,
.btn-red:hover {
	background-position: 0 -15px;
	text-decoration: none;
}

.btn:hover {
	color: #333333;
}

.btn-primary:hover,
.btn-green:hover,
.btn-red:hover {
	color: #ffffff;
}

/* workarounds */
button.btn: :-moz-focus-inner {
	border: 0;
	padding: 0;
}
/* end of button style */

/* navigation pills */
.pill {
	background: #00a6fc;
	display: inline-block;
	text-align: center;
	padding: 9px 34px 11px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	font-family: verdana, tahoma, arial, sans-serif;
	position: relative;
	cursor: pointer;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 10px;
	padding: 5px 12px 6px;
	width: auto;
}

.pill.full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}

.pill.pull-align {
	text-align: left;
	text-indent: 12px;
}

.blue.pill {
	border: 1px solid #0593dc;
	background-color: #0192dd;
}

.red.pill {
	border: 1px solid #b90b0b;
	background-color: #d01217;
}

.white.pill {
	background-color: #f0f0f0;
	color: #555555;
	border: 1px solid #dddddd;
	text-shadow: none !important;
}

.pill:hover {
	color: #fff;
}

.blue.pill:hover {
	background-color: #00a6fc;
}

.red.pill:hover {
	background-color: #e91c21;
}

.white.pill:hover {
	background-color: #f7f7f7;
	color: #333;
}