.portlet
{
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	margin: 0;
	padding: 1px;
	margin-bottom:15px;
	background-color:#D0DEF0;
}

.portlet .header
{
	color:#52565B;
	font-weight:bold;
	line-height:1;
	padding:7px 10px 8px;
	margin: 0;
	text-align:center;
	background-color:#EBF3FD;
	line-height: 120%;
}

.portlet .content
{
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	background:white;
	padding:5px 5px 10px 5px;
}

.portlet ul, .portlet ol
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0 0 0 5px;
	padding: 0;
}

.portlet li
{
	padding: 4px 0 2px 0px;
}

.portlet li span
{
	color: #52565B;
	font-weight:bold;
}

.portlet li.active a
{
	color: red;
}

.portlet .row
{
	margin: 0 0 5px 0;
}

.portlet .row label
{
	display: block;
}

.portlet .row .hint
{
	margin: 0;
	padding: 0;
	color: #999;
}